* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(auto, 1fr);
}
header {
  display: flex;
  justify-content: space-around;
  grid-column: 1 / Span 12;
  grid-row: 1;
  width: 100vw;
  padding: 10px;
}
.header-wrapper-logo {
  display: flex;
  width: 20%;
  gap: 10px;
  margin-left: 20px;
}
.svg {
  min-width: 30px;
  min-height: 30px;
  fill: #3064e8;
}

.logo-title {
  font-family: Poppins;
  font-size: 18px;
}

nav {
  display: flex;
  width: 80%;
}
nav a {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.9px;
  width: 100%;
  text-decoration: none;
}

.section-value-promise {
  display: flex;
  align-items: center;
  grid-column: 1 / Span 12;
  grid-row: 2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.49) 0%, rgba(7, 36, 191, 0.48) 93.36%);
}
.wrapper-promise-value-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  margin-left: 30px;
}

.headerH1 {
  color: #0779bf;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
}
.headerH2 {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 140% */
}
.header-button {
  font-family: Poppins;
  color: white;
  height: 3em;
  width: 10em;
  border-radius: 10px;
  background: #0779bf;
  border: none;
  box-shadow: 2px 3px 5px rgb(75, 75, 75);
}

.wrapper-promise-value-visual {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 50px;
}
.circle {
  position: absolute;
  z-index: 0;
  width: 600px;
  height: 700px;
  border-radius: 50%;
  opacity: 0.53;
  background: radial-gradient(155.89% 50% at 50% 50%, #0779bf 0%, rgba(7, 121, 191, 0) 100%);
}
.header-img {
  margin-left: 50px;
  z-index: 1;
  background-clip: cover;
  width: 500px;
  height: 100%;
}
